h1 {
	float: left;
	color: black;
	min-width: 350px;
	max-width: 35vw;
	display: inline-block;
	margin-left: 1em;
}

h3 {
	color: black;
}

html {
	background: url("../imgs/WEB EDIT _MG_9938.jpg") no-repeat center center fixed;
	-webkit-background-size: cover;
	background-size: cover;
}

body {
	min-width: 1081px;
	max-width: 90vw;
	margin: 0 auto;
	font-family: monospace;
	color: black;
	font-size: 18px;
}

header ul {
	position: relative;
	list-style: none;
	top: 1em;
	float: right;
	max-width: 50vw;
	min-width: 500px;
	text-align: right;
	margin-right: 1em;
}

header ul li {
	display: inline;
	padding-left: 1em;
	font-size: 1.25em;
	font-weight: bold;
	font-family: monospace;
}

a {
	color: black;
	text-decoration: none;
}

a:hover {
	color: green;
}

.divider {
	width: 100%;
	height: 2px;
	background-color: black;
	border-radius: 3px;
	clear: both;
}

section {
	max-height: 50%;
	max-width: 75%;
	overflow: scroll;
	margin: 0 auto;
}

section p {
	width: 50%;
}

.about-me1 {
	margin-left: 10%;
	font-size: 22px;
	font-family: Lucida, Monaco, monospace;
}

.about-me2 {
	margin-left: 25%;
	font-size: 22px;
	font-family: Lucida, Monaco, monospace;
	padding-top: 1em;
	padding-bottom: 1em;
}

.about-me3 {
	margin-left: 45%;
	font-size: 22px;
	font-family: Lucida, Monaco, monospace;
	padding-top: 1em;
}

.screen {
	opacity: 0.8;
}

.screen1 {
	background-color: rgba(255,255,255,1.0);
	border-radius: 3px;
	padding-top: 1px;
	padding-bottom: 1px;
}

.screen2 {
	background-color: rgba(255,255,255,1.0);
	border-radius: 3px;
}

.screen3 {
	background-color: rgba(255,255,255,1.0);
	padding-bottom: 1px;
	border-radius: 3px;
}

.blog-post-list {
	background-color: rgba(255,255,255,0.8);
	padding: 5px;
	border-radius: 3px;
	margin-top: 1em;
}

.projects-list {
	background-color: rgba(255,255,255,0.8);
	border-radius: 3px;
	padding: 5px;
	margin-top: 1em;
}

footer {
	position: fixed;
	bottom: 0;
	color: white;
}
