h1 {
	width: 52%;
	float: left;
	margin-left: 1em;
	color: white;
}

h3 {
	color: white;
}

html {
	background: url("https://farm2.staticflickr.com/1023/712054632_abdac07887_b.jpg") no-repeat center center fixed;
	-webkit-background-size: cover;
	background-size: cover;
}

body {
	width: 75%;
	margin: 0 auto;
	font-family: Helvetica, Sans-serif;
	color: black;
	font-size: 18px;
	/*background-image: url("https://farm2.staticflickr.com/1023/712054632_abdac07887_b.jpg");*/
	/*background-repeat: no-repeat;*/
	/*background-position: center top;*/
}

.head-links {
	position: relative;
	top: 2em;
}

/*#L1 {
	margin-right: .5em;
}

#L2 {
	margin-left: .5em;
	margin-right: .5em;
}

#L3 {
	margin-left: .5em;
	margin-right: .5em;
}

#L4 {
	margin-left: .5em;
	margin-right: .5em;
}

#L5 {
	margin-left: .5em;
}*/

a {
	color: white;
	text-decoration: none;
}

a:hover {
	color: blue;
}

.divider {
	width: 100%;
	height: 2px;
	background-color: white;
	border-radius: 3px;
	clear: both;
}

section {
	/*position: relative;*/
	/*float: left;*/
	/*width: 50%;*/
	max-height: 50%;
	max-width: 75%;
	overflow: scroll;
	margin: 0 auto;
}

section p {
	width: 50%;
}

.about-me1 {
	margin-left: 10%;
	font-size: 16px;
	font-family: Lucida, Monaco, monospace;
}

.about-me2 {
	margin-left: 25%;
	font-size: 16px;
	font-family: Lucida, Monaco, monospace;
}

.about-me3 {
	margin-left: 45%;
	font-size: 16px;
	font-family: Lucida, Monaco, monospace;
}

.screen1 {
	/*background-color:rgba(0,100,160,0.5);*/
	background-color: rgba(255,255,255,0.7);
	border-radius: 3px;
	padding-top: 1px;
	padding-bottom: 1px;
}

.screen2 {
	/*background-color:rgba(0,100,160,0.5);*/
	background-color: rgba(255,255,255,0.7);
	border-radius: 3px;
}

.screen3 {
	/*background-color:rgba(0,100,160,0.5);*/
	background-color: rgba(255,255,255,0.7);
	padding-bottom: 1px;
	border-radius: 3px;
}
